@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device breakpoints 
Pequenas telas: até 480px
Celular: até 768px
Tablet: 768px até 1024px
Laptop: até 1440px 
Desktop: 1440px até 1920px
Grandes telas: acima de 1440px - 1920px
*/

@media print {
  /*impressão*/
  * {
    font-family: "Courier New", Courier, monospace;
  }
  body {
    background-image: url(../imagens/back-print.jpg); /* Desnecessário, pois não imprime o background*/
  }

  main {
    border: 2px solid black;
  }

  main::after {
    content: "Essa impressão foi feita através do site www.cursoemvideo.com";
    text-decoration: overline;
  }

  main h1 {
    text-shadow: none;
    color: black;
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: block;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*tablet*/
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: block;
  }
  img#print {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  /*lap/desktop*/
  body {
    background-image: url(../imagens/back-pc.jpg);
  }
  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: none;
  }
  img#pc {
    display: block;
  }
  img#tv {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(../imagens/back-tv.jpg);
  }
  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: block;
  }
}
